<!doctype html>
<html lang="en">
<title>{% block head_title %}MuyPicky.com{% endblock %}</title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>MuyPicky.com</h1>
<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/contact/">Contact</a>

<dic class="container">
    {% block content %}

    {% endblock %}
</dic>
</body>
</html>